<div class="row">
  <h3>Listagem de Custos</h3>
  <div class="col-md-12">
    <app-button color="primary" routerLink="/custo/create">
      <app-glyph icon="plus"></app-glyph> Criar
    </app-button>
  </div>

  <br/>
  <br/>

  <div class="col-md-12" *ngIf="message">
    <app-alert [close]="true" [timeout]="4000">{{message}}</app-alert>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Código</th>
      <th>Propriedade</th>
      <th>Categoria</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let custos of custo; let i = index">
      <td>{{custos.id}}</td>
      <td>{{custos.propriedade}}</td>
      <td>{{custos.categoria}}</td>
      <td>{{custos.valor}}</td>
      <td>{{custos.data}}</td>
      <td>
        <a [routerLink]="['/custo', custo, 'edit']">
          <app-glyph icon="pencil"></app-glyph>
          Editar
        </a> |
        <a href="javascript:void(0)" (click)="openModal(custo)">
          <app-glyph icon="trash"></app-glyph>
          Excluir
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mensagem de confirmação</h4>
    </div>
    <div class="modal-body" *ngIf="custoDelete">
      <p>Deseja excluir esse custo?<strong>{{custoDelete.valor}}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="destroy()">Deletar</button>
    </div>
  </app-modal>
</div>