<div class="row">
  <h3>Listagem de Usuario</h3>
  <div class="col-md-12">
    <app-button color="primary" routerLink="/usuario/create">
      <app-glyph icon="plus"></app-glyph> Criar
    </app-button>
  </div>

  <br/>
  <br/>

  <div class="col-md-12" *ngIf="message">
    <app-alert [close]="true" [timeout]="4000">{{message}}</app-alert>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Código</th>
      <th>Cidade</th>
      <th>Pais</th>
      <th>Login</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Perfil</th>
      <th>Nome</th>
      <th>Localidade</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let usuarios of usuario; let i = index">
      <td>{{usuarios.id}}</td>
      <td>{{usuarios.cidade}}</td>
      <td>{{usuarios.pais}}</td>
      <td>{{usuarios.login}}</td>
      <td>{{usuarios.email}}</td>
      <td>{{usuarios.senha}}</td>
      <td>{{usuarios.perfil}}</td>
      <td>{{usuarios.nome}}</td>
      <td>{{usuarios.localidade}}</td>
      <td>{{usuarios.telefone}}</td>
      <td>
        <a [routerLink]="['/usuario', usuario, 'edit']">
          <app-glyph icon="pencil"></app-glyph>
          Editar
        </a> |
        <a href="javascript:void(0)" (click)="openModal(usuario)">
          <app-glyph icon="trash"></app-glyph>
          Excluir
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mensagem de confirmação</h4>
    </div>
    <div class="modal-body" *ngIf="usuarioDelete">
      <p>Deseja excluir esta Categoria<strong>{{usuarioDelete.nome}}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="destroy()">Deletar</button>
    </div>
  </app-modal>
</div>