<div class="mx-auto" style="width: 200px;">


<form>
  <h3>{{!atividade.id?'Nova Atividade':'Editar Atividade'}}</h3>

</form>

<div class="row">


  <form class="form-horizontal" (submit)="save()">
    <div class="form-group">
      <label for="atividade" class="control-label">Descricao:</label>
      <!--<input type="text" class="form-control" id="" name="ativid" [(ngModel)]="atividade.descricao">-->
      <textarea type="text" class="form-control" id="atividade" name="atividade" rows="3" [(ngModel)]="atividade.descricao"></textarea>
    </div>

    <label for="exampleFormControlSelect1">Propiedades:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Propriedade1</option>
      <option>Propriedade2</option>
      <option>Propriedade3</option>
      <option>Propriedade4</option>
      <option>Propriedade5</option>
    </select>


    <app-button type="submit" color="primary">
      {{!atividade.descricao?'Criar':'Editar'}}
    </app-button>

  </form>

  </div>
</div>
