<form>
  <h3>{{!receita.id?'Criar Receita':'Editar Receita'}}</h3>
</form>
<div class="row">
  <!--<h3 *ngIf="!post.id; else h3_edit">Criar Categoria</h3>
  <ng-template #h3_edit>
    <h3>Editar Categorias</h3>
  </ng-template>-->
  <form class="form-horizontal" (submit)="save()">
    <div class="form-group">
      <label for="receita" class="control-label">Receita</label>
      <input type="text" class="form-control" id="receita" name="receita" [(ngModel)]="receita.data">
    </div>

    <app-button type="submit" color="primary">
      {{!receita.id?'Criar':'Editar'}}
    </app-button>
  </form>
</div>
