<div class="row">
  <h3>Listagem de Categorias</h3>
  <div class="col-md-12">
    <app-button color="primary" routerLink="/categorias/create">
      <app-glyph icon="plus"></app-glyph> Criar
    </app-button>
  </div>

  <br/>
  <br/>

  <div class="col-md-12" *ngIf="message">
    <app-alert [close]="true" [timeout]="4000">{{message}}</app-alert>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Código</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let key of categoriaKeys()">
      <td>{{categoria[key].id}}</td>
      <td>{{categoria[key].nome}}</td>
      <td>
      <a [routerLink]="['/categorias', categoria, 'edit']">
        <app-glyph icon="pencil"></app-glyph>
        Editar
      </a> |
      <a href="javascript:void(0)" (click)="openModal(categoria)">
        <app-glyph icon="trash"></app-glyph>
        Excluir
      </a>
    </td>
    </tr>
    </tbody>
  </table>

  <app-modal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Mensagem de confirmação</h4>
    </div>
    <div class="modal-body" *ngIf="categoriaDelete">
      <p>Deseja excluir esta Categoria<strong>{{categoriaDelete.nome}}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="destroy()">Deletar</button>
    </div>
  </app-modal>
</div>